<div class="container">
  <h1 class="mt-5">Clientes</h1>
  <p class="lead">A continuación puede encontrar una lista de clientes registrdos en el sistema.</p>


  <button class="btn btn-success" type="submit" >Crear</button>
  <div style="height: 25px"></div>
  <div class="list-group">
    <a class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Johan David Sanabria Cañizares</h5>
        <small>3 tarjeta(s)</small>
      </div>
      <p class="mb-1">1016075051</p>
      <p class="mb-1">david.sana610@gmail.com</p>
      <small>Donec id elit non mi porta.</small>
    </a>
    <a class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Johan David Sanabria Cañizares</h5>
        <small>3 tarjeta(s)</small>
      </div>
      <p class="mb-1">1016075051</p>
      <p class="mb-1">david.sana610@gmail.com</p>
      <small>Donec id elit non mi porta.</small>
    </a>
    <a class="list-group-item list-group-item-action" aria-current="true">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Johan David Sanabria Cañizares</h5>
        <small>3 tarjeta(s)</small>
      </div>
      <p class="mb-1">1016075051</p>
      <p class="mb-1">david.sana610@gmail.com</p>
      <small>Donec id elit non mi porta.</small>
    </a>
  </div>


</div>
